@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Allura&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');

.bg {
    background-image: url('/images/HOTELMAINPAGEPIC.jpg');
    position: relative;
    height: 100vh; /* Full height */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* This makes the background fixed */
    z-index: 1; /* Puts the background behind other content */
}
.overlay {
    border-image: fill 1 linear-gradient(#0003,#1E140C); /* your gradient here */
}
.overlay1 {
    border-image: fill 1 linear-gradient(#1E140C, #0003); /* your gradient here */
}
.d-flex {
    position: relative;
    z-index: 1; /* Ensures the content stays above the background */
}

body {
    background-color: #442E1A;
}
.navbar {
    background-color: transparent!important;
}

nav {
    position: fixed; /* or absolute */
    top: 0; /* Position at the top */
    left: 0; /* Position at the left */
    right: 0; /* Full width */
    background-color: rgba(226, 221, 206, 0.16);
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.hide-nav {
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
}

.navbar-wrapper {
    transition: transform 0.3s ease-in-out;
}

.nav-link {
    color: #FEF3E2;
    font-family: 'karla';
}
.logo-name {
    color: #FEF3E2;
}
.logo-name {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    font-weight: bold;
}

.logo-name p {
    margin: 0;
    font-size: 24px; /* Adjust as needed */
}

.logo-name P {
    margin: 0;
    font-size: 16px; /* Adjust as needed */
}
.suites {
    font-family: 'karla';
    font-weight: normal;
}
.laraveil {
    font-family: 'kanit';
    font-size: 32px;
}

.elevate {
    color: #FEF3E2;
    font-family: 'aboreto';
    font-size: 100px;
}
.hotel-name {
    color: #FEF3E2;
    font-family: 'allura';
    font-size: 100px;
}
.newSction {
    height: auto;
    width: 100%;
    background-color: #1E140C;
    padding-top: 20px;
}
.bookBtn {
    border-radius: 40px;
    font-size: 15px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(191, 167, 93, 0.16);
    color: #FEF3E2;
    font-family: 'karla';
    border: solid;
    border-width: 0.5px;
}
.logo {
    height: 50px;
}


/* Style for the .checkInOut div */
.checkInOut {
    border: 1px solid #FEF3E2; /* Change the color and width as needed */
    border-radius: 30px; /* Optional: Rounded corners */
    background-color: #442E1A;
}
.gallery {
    font-family: 'aboreto';
    color: #FEF3E2;
}

/* Reset CSS */
img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	display: inline-block;
}

/* Main CSS */
.grid-wrapper > div {
	display: flex;
	justify-content: center;
	align-items: center;
}
.grid-wrapper > div > img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 5px;
}

.grid-wrapper {
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
	grid-auto-rows: 200px;
	grid-auto-flow: dense;
}
.grid-wrapper .wide {
	grid-column: span 2;
}
.grid-wrapper .tall {
	grid-row: span 2;
}
.grid-wrapper .big {
	grid-column: span 2;
	grid-row: span 2;
}

/* Style for transparent input */
.transparent-input {
    background-color: transparent; /* Set background to transparent */
    border: 1px solid #ccc; /* Optional: Add a border */
    color: #FEF3E2; /* Set text color */
}

.transparent-input::webkit-inner-spin-button, /* Hide the spin button in webkit browsers */
.transparent-input::webkit-calendar-picker-indicator {
    display: none; /* Hide the spin button in webkit browsers */
}

.transparent-input:focus {
    background-color: transparent; /* Keep background transparent on focus */
    border-color: #007bff; /* Optional: Change border color on focus */
    box-shadow: none; /* Optional: Remove shadow on focus */
}


.checkIn {
    color: #FEF3E2;
    font-family: 'karla';
    border-radius: 40px;
}

.checkBtn {
    background-color: rgba(191, 167, 93, 0.16);
    border: solid;
    padding-left: 10px;
    padding-right: 10px;
    color: #FEF3E2;
    font-family: 'karla';
    padding: 10px;
    border-radius: 40px;
    border-width: 1px;
    text-decoration: none;
    text-align: center;
}


#checkin, #checkout {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.accomodation-bg {
    background-image: url('/images/ACCOMODATION PAGE PIC.jpeg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative; 
    overflow: hidden; 
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
}

h1, h2 {
    margin-bottom: 20px;
    color: #fff;
}

h2.section-title {
    margin-top: 50px;
    font-size: 2em;
    color: #FEF3E2;
    text-align: left;
    font-family: 'aboreto';
}


.card {
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 30px;
    transition: transform 0.3s ease;
}

.card-title {
    font-size: 1.5em;
    color: #FEF3E2;
    margin-bottom: 10px;
    font-family: 'aboreto';
}

.card-text {
    color: #FEF3E2;
}

.suite-price {
    font-size: 1.2em;
    color: #FEF3E2;
    margin-bottom: 10px;
}

.btn {
    background-color: transparent;
    color: #FEF3E2;
    border: 2px solid #FEF3E2;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.btn:hover {
    background-color: white;
    color: #333;
}

.row {
    margin-left: -15px;
    margin-right: -15px;
}

.col-md-4 {
    padding-left: 15px;
    padding-right: 15px;
}

.modal-content {
    background-color: #1E140C; 
    color: #1E140C; 
    border-radius: 15px; 
    width: 20000px;   
    max-width: 1000000%;
}

@media (max-width: 768px) {
    .suite {
        margin-bottom: 30px;
    }

    h1 {
        font-size: 2.5em;
    }

    h2 {
        font-size: 1.8em;
    }
}
/*book now*/

.footer {
    background-color: #1E140C;
    padding: 5px;
    height: auto;
}
.footer img {
    width: 100px;
}

.aboutUs {
    background-image: url('/images/homepage about us pic.png');
    background-size: cover; /* Ensures the background covers the entire div */
    background-position: center; /* Keeps the image centered */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-attachment: fixed; /* Keeps the image fixed during scrolling */
    padding: 0;
    width: 100%;
    height: 100vh; /* Full viewport height */
    position: relative;
}




.aboutUs h1, p {
    font-family: 'aboreto';
    color: #FEF3E2;
    
}
.connect {
    display: inline-block; /* Makes the link behave like a button */
    padding: 10px 20px; /* Adjust padding for desired size */
    background-color: rgba(68, 46, 26, 0.54); /* Use rgba for opacity */
    color: white; /* Text color */
    text-decoration: none; /* Remove underline from link */
    border-radius: 30px; /* Rounded corners */
    font-weight: bold; /* Bold text */
    text-align: center; /* Center the text */
    transition: background-color 0.3s ease; /* Smooth hover transition */
    font-family: 'Karla', sans-serif; /* Make sure the font family is properly loaded */
    
    /* Border properties */
    border: 1px solid #FEF3E2; /* Border width, style, and color */
}


.aboutUs {
    display: flex;
    flex-direction: column;
    height: auto; /* Full viewport height */
}

.text {
    flex: 0 1 auto; /* Content height based on text size */
}

.feedbacks {
    flex: 1 1 auto; /* Makes feedback section stretch to fill the remaining space */
    background-color: rgba(68, 46, 26, 0.66); /* Reduced opacity for more transparency */
    padding: 20px;
}

.feed-text {
    font-family: 'aboreto';
}


.feedbacks .row {
    height: auto; /* Make the row fill the entire height */
}

h1, p {
    margin: 0;
    padding: 0;
}
.feed {
    border: 1px transparent solid;
}

.feed p {
    font-size: 12px;
}
.feed1 {
    border: 2px solid #FEF3E2; /* Set the border color and transparency */
    border-radius: 10px; /* Add rounded corners */
    padding: 20px; /* Add padding inside the container */
    margin: 20px 0; /* Optional: add margin for spacing between other elements */
    min-height: 200px;
}

.footerData p{
    font-size: 10px;
}
.footerData h2 {
    font-family: 'aboreto';
    font-size: 20px;
}
.footer {
    padding: 10px;
}

.booknow, .offers, .about {
    height: 100vh;
}

i {
    color: white;
    margin: 3px;
}

.icons i {
    margin-left: 10px;
    margin-right: 10px;
}

.footer p, .footer h2, .icons i {
    font-size: 16px; /* Default size for medium screens */
}

@media (max-width: 992px) {
    .footer p, .footer h2, .icons i {
        font-size: 14px; /* Adjust font-size for tablets and small desktops */
    }
}

@media (max-width: 768px) {
    .footer p, .footer h2, .icons i {
        font-size: 12px; /* Adjust font-size for mobile devices */
    }
}
/*book now*/
.book-container {
    background-image: url('/images/book-now.png');
    position: relative;
    height: auto; /* Full height */
    background-size: cover;
    background-position: center;
    background-attachment: fixed; /* This makes the background fixed */
    z-index: 1; /* Puts the background behind other content */
    width: 100%;
    background-repeat: no-repeat;
}

.circle {
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%; /* Make it a perfect circle */
}

.step {
    margin: 0 10px;
}
.light {
    background-color: #FFB000; /* Or any highlight color you prefer */
    border-color: #FEF3E2; /* Make the border match the highlight */
    transition: ease-in 0.5s;
}

.circle h1 {
    margin: 0;
    font-size: 24px;
}

.step {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.step-label {
    margin-top: 10px;
    font-size: 12px;
    color: white;
}

.d-flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {
    .circle {
        width: 40px;
        height: 40px;
    }

    .line {
        width: 30px;
    }

    .circle h1 {
        font-size: 18px;
    }

    .step-label {
        font-size: 10px;
    }
}

@media (max-width: 576px) {
    .circle {
        width: 35px;
        height: 35px;
    }

    .line {
        width: 20px;
    }

    .circle h1 {
        font-size: 16px;
    }

    .step-label {
        font-size: 8px;
    }
}

.deets-container {
    height: auto;
}

.clickable-day {
    cursor: pointer;
}
/* Base styling for table */
.rounded .table-custom {
    background-color: rgba(68, 46, 26, 0.8)!important;
    border-radius: 10px;
}

/* Ensure table cells are transparent initially */
.table-borderless td,
.table-borderless th {
     /* Default to transparent background */
    color: #FEF3E2; /* Default text color */
    transition: background-color 0.3s ease, color 0.3s ease; /* Smooth transition */
    font-weight: bold;
}
.table-borderless {
    background-color: transparent; /* Remove any background color */
}
/* Hover state */
.table-borderless td:hover {
    background-color: #FFB000 !important; /* Apply hover background color */
    color: #292929 !important; /* Ensure text color changes */
}

/* Active state when clicked */
.table-borderless td:active {
    background-color: #FFB000 !important; /* Apply background color on click */
    color: #292929 !important; /* Change text color on click */
}
/* Active class for clicked cells */
.active-cell {
    background-color: #FFB000!important; /* Background color when active */
    color: #292929 !important; /* Text color when active */
}

.table-borderless td,
.table-borderless th {
    background-color: transparent; /* Make sure the table cells also have no background */
    color: #FEF3E2; /* Text color */
}

#currentMonthTitle, #nextMonthTitle {
    font-family: 'aboreto';
}
td, th {
    font-family: 'aboreto';
}

.nextBtn {
    border-radius: 40px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: rgba(191, 167, 93, 0.16);
    color: #FEF3E2;
    font-family: 'karla';
    border: solid;
    border-width: 0.5px;
    margin-bottom: 5px;
}
.select-accommodation {
    height: 100vh;
}

/* CSS for sliding transition */

